@import 'main'

.button-code
    text-decoration: none
    display: inline-block
    outline: 0
    cursor: pointer
    padding: 8px 18px
    font-size: 18px
    line-height: 20px
    vertical-align: middle
    border: 1px solid
    background-color: $dark-grey
    border-radius: 15px 
    color: $light-green
    box-shadow: 3px 3px $dark-grey
    transition: all .25s
    &:hover
        background-color: #294257
        transform: scale(1.05)
    &:active
        transform: translate(2px, 2px)
        box-shadow: 1px 1px 0 $dark-grey
    
