@import 'main'

body
    font-family: $font
    margin: 0
    color: white
    background-color:  $dark-grey
    scroll-behavior: smooth

footer
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100px
    padding: 50px 20vw
    background-color: $light-green

p
    font-size: 1.5rem

a
    text-decoration: none

h1
    font-size: 3rem

.line 
    font-size: 3rem

.center 
    display: flex
    position: relative
    flex-direction: column
    align-items: center
    min-height: 500px
    padding: 50px 20vw

.personal-description 
    padding-top: 3vw
    font-size: 1.6rem
    text-align: center
    font-weight: 600


.personal-section
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding: 50px 20vw

.dark
    color: $dark-grey

.text-gradient 
    background: -webkit-linear-gradient($light-green, $dark-green)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.light-green
    background-color: $light-green

.dark-green
    background-color: $dark-green

.links
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    width: 100%
    padding: 50px 20vw

.icon
    margin: 5px
    transition: all .25s

#top
    padding-top: 10vw

.project
    display: flex

.project-text
    width: 40vw
    padding-left: 5vw
    padding-top: 10vw

