@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
    background-color: #182835;
}

h1 {
    font-size: 4rem;
}
p {
    font-size: 1.5rem;
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 50px 20vw
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 50px 20vw;
    background-color: #00CC8E;
}
.text-gradient {
    background: -webkit-linear-gradient(#00CC8E, #038373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.light-green {
    background-color: #00CC8E
}

.dark-green {
    background-color: #038373;
}

.spacer {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ratio-100 {
    aspect-ratio: 960/100;
}

.ratio-250 {
    aspect-ratio: 900/250;
}

.layer1 {
    background-image: url('../assets/svg/stacked-peaks-haikei.svg');
}

.small-wave {
    background-image: url('../assets/svg/wave-dark-to-light.svg');
}

.contact-svg {
    background-image: url('../assets/svg/wave-haikei2.svg');
}

.flip {
    transform: rotate(180deg);
}